@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin row($direction) {
  justify-content: $direction;
}
@mixin col($direction) {
  align-items: $direction;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  order: 1px solid red !important;
}
/*Media query for smartphones*/
@media (max-width: 500px) {
  body {
    @include flex(column);
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;

    .nav-area {
      @include flex(column);
      background: #052552;
      padding: 13rem 0;

      #center {
        @include flex(column);
        @include col(center);
        line-height: 1;

        #menu {
          position: absolute;
          top: 1rem;
          left: 1rem;
          font-size: 1.2rem;
          color: hsl(0, 0%, 70%);
        }
        #camera {
          font-size: 2.5rem;
          color: hsla(0, 0%, 98%, 0.719);
        }
      }

      #header {
        font-size: 2.3rem;
        font-weight: 500;
        color: hsla(0, 0%, 98%, 0.788);
      }

      form {
        @include flex(row);
        @include col(center);
        margin: 0 auto;

        .fas {
          position: absolute;
          right: 2.5rem;
          padding: 10px 12px;
          pointer-events: none;
        }

        input {
          width: 20rem;
          height: 3rem;
          border: transparent;
          border-radius: 2.5rem;
          box-shadow: 0 0.5rem 2rem -0.25rem rgba(0, 0, 0, 0.3);
          font-size: 1rem;
          font-family: "Rubik", sans-serif;
        }
        input:focus {
          outline: transparent;
          box-shadow: 0 0.3rem 0.5rem 0.3rem rgba(0, 0, 0, 0.3);
        }
        button {
          width: 20rem;
          padding: 0.5rem;
          border: transparent;
          border-radius: 0.3rem;
          background: #135bbf;
          color: white;
        }
        button:focus {
          outline: transparent;
          background: hsla(0, 0%, 7%, 0.74);
        }
      }
    }
    .main {
      background: hsla(0, 0%, 70%, 0.87);

      .gallery-area {
        height: 20rem;
        margin: 0.8rem;
        border-radius: 0.4rem;
        background: hsl(0, 0%, 97%);
        box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.3);

        h2 {
          padding: 0 1rem;
          font-size: 1rem;
          color: #135bbf;
        }
      }
    }
  }

  /*body::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    bottom: -5%;
    background: transparent;
    z-index: 1;
  }*/
}

//Media query for desktop
@media (min-width: 1021px) {
  body {
    @include flex(column);
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;

    .nav-area {
      @include flex(row);
      @include row(center);
      background: #052552;
      gap: 13rem;
      /*padding: 1rem;
      margin: 0 20rem;*/

      #center {
        @include flex(row);
        @include col(center);
        gap: 0.5rem;

        #menu {
          display: none;
        }
        #camera {
          font-size: 1.7rem;
          color: hsla(0, 0%, 98%, 0.788);
          overflow: hidden;
        }
        #header {
          font-size: 1.8rem;
          font-weight: 700;
          color: hsl(0, 0%, 97%);
        }
      }
      form {
        @include flex(row);
        @include col(center);

        .fas {
          position: absolute;
          margin-left: 13rem;
          padding: 10px 12px;
          pointer-events: none;
        }
        input {
          width: 16rem;
          height: 2rem;
          border: none;
          border-radius: 1rem;
          background: hsl(0, 0%, 99%);
          box-shadow: 0 0.5rem 2rem -0.25rem rgba(0, 0, 0, 0.3);
          font-family: "Rubik", sans-serif;
        }
        input:focus,
        :hover {
          outline: transparent;
          box-shadow: 0 0.2rem 0.3rem 0 rgba(190, 189, 189, 0.3);
          background: hsla(0, 0%, 98%, 0.932);
        }
      }
    }
    .main {
      background: hsl(0, 0%, 89%);
      box-sizing: border-box;

      .gallery-area {
        height: 50rem;
        margin: 0 10.5rem;
        background: hsl(0, 0%, 95%);
        border-left: 2px solid hsla(0, 0%, 7%, 0.349);
        border-right: 2px solid hsla(0, 0%, 7%, 0.349);
        /*box-shadow: 0 .3rem .4rem 0 rgba(0, 0, 0, 0.3);*/

        h2 {
          padding: 0 2rem;
          font-size: 1rem;
          color: #135bbf;
        }
      }
    }
  }
}
